.allcaja{
    display: flex;
    flex-direction: column;
  
    }

    .caja2{
        background-color: blue;
        width: 120%;
        height: 50px;
        border: blueviolet; 
        border-radius: 1.7cm;
        top: 135px;
        position: absolute;
          }
          
      .caja3{
          background-color: yellow;
          width: 153px;
          height: 108px;
          border: plum;
          border-radius: 8px; 
          position: absolute;
          top: 270px;
          right: 50%;
              
          }
          
      .caja4{
          background-color: violet ;
          width: 141px;
          height: 10px;
          border: black;
          border-radius: 1cm 25cm 28cm 1cm;
          position: absolute;
          top: 372px;
          right: 12%;
        }