.allbox{
    display: flex;
    flex-direction: column;
  
    }

    .box2{
        background-color: black;
        width: 120%;
        height: 50px;
        border: purple; 
        border-radius: 1.7cm;
        top: 145px;
        position: absolute;
          }
          
      .box3{
          background-color: blueviolet;
          width: 153px;
          height: 108px;
          border: purple;
          border-radius: 10px; 
          position: absolute;
          top: 280px;
          right: 100%;
              
          }
          
      .box4{
          background-color: blue ;
          width: 151px;
          height: 15px;
          border: white;
          border-radius: 2cm 5cm 8cm 15cm;
          position: absolute;
          top: 382px;
          right: 15%;
        }