.allcaja{
    display: flex;
    flex-direction: column;
  
    }

    .caja2{
        background-color: white;
        width: 110%;
        height: 150px;
        border: red; 
        border-radius: 1.6cm;
        top: 132px;
        position: absolute;
          }
          
      .caja3{
          background-color: blue;
          width: 153px;
          height: 108px;
          border: black dashed;
          border-radius: 7px; 
          position: absolute;
          top: 270px;
          right: 51%;
              
          }
          
      .chest4{
          background-color: violet ;
          width: 141px;
          height: 10px;
          border: black;
          border-radius: 1cm 25cm 28cm 1cm;
          position: absolute;
          top: 372px;
          right: 12%;
        }